<section id="detail" class="container">
<div class="form-wrap">
    <h1>User Detail</h1>
    <div class="input-group">
        <label for="first_name">First Name</label>
        <div>{{first_name}}</div>
    </div>
    <br><br>
    <div class="input-group">
        <label for="last_name">Last Name</label>
        <div>{{last_name}}</div>
    </div>
    <br><br>
    <div class="input-group">
        <label for="birthday">Birthday</label>
        <div>{{birthday}}</div>
    </div>
    <br><br>
    <div class="input-group">
        <label for="balance">Balance</label>
        <div>{{balance}}</div>
    </div>
    <br><br>
    <div class="input-group">
        <label for="email">Email</label>
        <div>{{email}}</div>
    </div>
    </div>
  </section>